.badges-container{
     padding: calc(var(--spacing-xl) * 3) 0 var(--spacing-xl);
    background-color: var(--background);
}

.badges-container > div{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-sm);
}

.badges-container h2 {
    color: var(--text-primary);
    margin-bottom: var(--spacing-xs);
}

.badge-card-bottom p {
    margin: 0 0 10px;
    color: var(--text-secondary);
    font-size: 0.9em;
}

.badges-container >div >p{
    color: var(--text-secondary);
    margin-bottom: var(--spacing-lg);
}

.badges{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-lg);
    margin-top: var(--spacing-md);
}

.badge-card {
    position: relative;
    background: var(--secondary);
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: var(--shadow-sm);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.badge-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
}

.badge-card-top {
    position: relative;
    padding: 20px;
    text-align: center;
}

.badge-card-top  picture img{
     width: 80px;
    height: 80px;
    object-fit: contain;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.badge-card.locked picture img  {
    filter: blur(3px) grayscale(1);
}


.badge-card-top > p:nth-of-type(2){
     position: absolute;
    inset: 0;
    background: rgb(10 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    font-size: 24px;
}

.badge-card:not(.locked) .badge-card-top > p:nth-of-type(2) {
    display: none;
}



.badge-card-bottom {
    padding: 15px;
    text-align: center;
}

.badge-card-bottom h3 {
    margin: 0 0 5px;
    color: var(--text-primary);
}



.progress-bar {
    width: 100%;
    height: 6px;
    background: var(--primary);
    border-radius: 3px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: var(--accent-1);
    width: 0;
    transition: width 0.3s ease;
}








